.main_title_content_text {
    position: relative;
}

.bunner-1 .main_title_content_text {
    p {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }
}

.main {

    // .main_title

    &_title {
    }

}

.bunner-1 {

    // .bunner-1__arrow

    &__arrow {
    }

    // ._bunner-arrow

    ._bunner-arrow {
        position: absolute;
        top: 158px;
        left: 251px;
    }

    // ._bunner-arrow-mobile

    ._bunner-arrow-mobile {
        position: absolute;
        top: 315px;
        left: 243px;
        @media (max-width: 556px) {
            top: 239px;
        }
    }
}


.main_title.bunner-2 {
    .main_title_cotent {
        @media (max-width: 556px) {
            margin: 0;
        }

        .main_title_content_text {
            width: auto;
            font-weight: bold;
            font-size: 62px;
            line-height: 82px;
            @media (max-width: 556px) {
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
            }

            .bunner-2__btn {
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: #FFFFFF;
                width: 71px;
                height: 32px;
                background: #EB6300;
                border-radius: 16px;
                padding: 4px 12px 6px;
                @media (max-width: 556px) {
                    width: 61px;
                    height: 30px;
                    border-radius: 16px;
                    font-size: 14px;
                    line-height: 20px;
                    position: relative;
                    top: -5px;
                }
                @media (min-width: 556px) {
                    position: absolute;
                }
            }
        }
    }

    ._bunner-arrow {
        position: absolute;
        left: 555px;
    }

    // ._bunner-arrow-mobile

    ._bunner-arrow-mobile {
        position: absolute;
        top: 260px;
        left: 220px;
    }

    // .bunner-2__bonus

    &__bonus {
    }

    // .bunner-2__arrow

    &__arrow {
    }

    // .bunner-2__btn1

    .bunner-2__btn1 {
        display: flex;
        margin: 60px 0 0 0px;
        align-items: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        @media (max-width: 556px) {
            flex-direction: column-reverse;
            align-items: flex-start;
            margin: 160px 0 0 0;
            font-size: 16px;
            line-height: 24px;
        }

        .btn1 {
            margin: 0 40px 0 0;
            @media (max-width: 556px) {
                position: static;
                margin: 32px 0 0 0;
                width: 210px;
                padding: initial;
            }
        }
    }
}
