.scroll-to-top-button {
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    position: fixed;
    right: 30px;
    bottom: 30px;
    @media (max-width: 556px) {
        left: 15px;
        bottom: 15px;
    }
    transition: .5s;
}

.pin-top__icon {
    width: 60px;
    transform: rotate(-90deg);
    transition-timing-function: cubic-bezier(.6, 0, .41, 1);
    transition-duration: .3s;
}

.pin-top__icon path {
    fill: #ffffff;
}

.pin-top__icon circle {
    fill: #EB6300;
}

.open-scroll-button {
    opacity: 1;
    transition: .5s;
    visibility: visible;
}
