.loading-bg-overlay {
  position: absolute;
  background: #000;
  width: 100vw;
  height: 100vh;
  z-index: 99999999999999;
}

.loader {
  z-index: 99999999999999;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}